@charset "UTF-8";
.assign {
	width: fit-content;
	display: block;
	margin: 50px auto 0 auto;
	border: 1px solid black;
	padding: 20px;
}
.assign h1 {     
    font-size: 140%;
    color: teal;
    margin-bottom: .5em;    
}
.assign h2 {     
    font-size: 120%;
    color: teal;
    margin-bottom: .5em;    
}
.assign label {
    float: left;
    width: 7em;
    margin-bottom: 0.5em;
    font-weight: bold;
}
.assign input[type="text"], input[type="email"] {  /* An attribute selector */
    width: 15em;
    margin-left: 0.5em;    
    margin-bottom: 0.5em;
}
.assign span {
    margin-left: 0.5em;    
    margin-bottom: 0.5em;    
}
.assign br {
    clear: both;
}

/* The styles for the classes */
.assign .pad_top {
    padding-top: 0.25em;
}
.assign .margin_left {
    margin-left: 0.5em;
}

#quantity {
    width: 2em;
}

/* The styles for the tables */
.assign table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 50em;
}
.assign th, td {
    border: 1px solid black;
    text-align: left;
    padding: .5em;
}
.assign .right {
    text-align: right;
}