@charset "UTF-8";

.assign {
	width: fit-content;
	display: block;
	margin: 50px auto 0 auto;
	border: 1px solid black;
	padding: 20px;
}
.assign label {
    float: left;
    width: 7em;
    margin-bottom: 0.5em;
    font-weight: bold;
}
.assign input[type="text"], input[type="email"] {  /* An attribute selector */
    width: 15em;
    margin-left: 0.5em;    
    margin-bottom: 0.5em;
}
.assign span {
    margin-left: 0.5em;    
    margin-bottom: 0.5em;    
}
.assign br {
    clear: both;
}

/* The styles for the classes */
.assign .pad_top {
    padding-top: 0.25em;
}
.assign .margin_left {
    margin-left: 0.5em;
}



.assign .button-container {
            display: flex;
            
            align-items: center;
            height: 10vh; 
        }
        .goback-button {
            text-align: center;
            padding: 10px 20px;
            background-color: teal;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        } 
.assign .goback-button:hover {
  opacity: 75%;
}
